body {
  background-color: #ccc;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#header {
  background-color: #ff33ff;
  color: #d9d9d9;
  height: 100px;
  font-size: 24px;
}

#navbar {
  background-color: #555;
  
  
}

#navbar ul {
  padding: 0px;
  list-style: none;
}

#navbar li {
  display: inline;
  padding-right: 30px;
}

#navbar a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 18px;
}

#navbar a:hover {
  color: #ff33ff;
}

#showcase {
  background-image: url(images/bg.jpeg);
  background-position: center right;
  min-height: 250px;
  text-align: center;
  color: #ccc;
  font-size: 34px;
  line-height: 1.6em;
  padding-top: 30px;
  margin-bottom: 30px;
}

#main-body {
  float: left;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background-color: #555;
  color: #ccc;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer {
  margin-top: 50px;
  text-align: center;
}

@media all and (max-width: 768px) {
  #main-body {
    width: 100%;
  }
  
  #sidebar {
    width: 100%;
  }
}
